a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: blue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

nav label {
  margin: 0 10px 0 30px;
}

nav input {
  margin: 0 10px;
}

nav button {
  margin: 0 10px;
}

img {
  border-radius: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px;
}

.recipe-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe-head h1 {
    padding-left: 40px;
}

.recipe-full {
    display: flex;
    flex-direction: column;
}

.recipe-full img {
    max-width: 350px;
    height: 100%;
}

.recipe-body {
    margin: 5px 20px 0 390px;
    max-width: 60%;
}

.recipe-head button {
    margin-left: 20px;
}

.ingredients {
    text-align: left;
}